/* Add padding to body to prevent content from hiding behind the fixed navbar */
body {
  padding-top: 56px; // Adjust based on navbar height
}

.navbar {
  background-color: #007bff; // Bootstrap primary color
}

.navbar .nav-link {
  color: white;
  margin-left: 1rem; // Margin between links

  &:hover {
    color: #e0e0e0; // Light color on hover
  }
}

.nav-color {
  color: #00c8dd;
}

/* Center align the menu items in mobile view */
@media (max-width: 991.98px) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center; // Center align items horizontally
    text-align: center;
    width: 100%;

    .nav-item {
      flex: 1; // Ensure items take up equal space
    }
  }
}

/* Right align menu items on larger screens */
@media (min-width: 992px) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; // Right align items
  }
}
